*
!*.h
!*.cpp
!.gitignore
!*.txt
AIBootCamp2-MyFirstAIBot-v1.01/.vs/MyFirstAIBot/v16/.suo
AIBootCamp2-MyFirstAIBot-v1.01/.vs/MyFirstAIBot/v16/.suo
AIBootCamp2-MyFirstAIBot-v1.01/.vs/MyFirstAIBot/v16/.suo
*.db
*.ipch
*.ipch
*.ipch
*.db
*.cmake
*.bin
*.tlog
*.log
*.exp
*.ilk
*.pdb
*.log
*.pdb
*.filters
*.pdb
*.log
*.tlog
*.log
*.idb
